.ant-layout{
    color: #fff;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    &-header{
        color: #fff;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
    }
    &-content{
        background-color: #282C34;
        padding: 15px;
    }
    &-footer{
        background-color: #001529;
        text-align: center;
        color: #1890FF;
        span{
            cursor: pointer;
            user-select: none;
        }
    }
}

.menu-Icon{
    width:20px;
    height:20px;
    position:relative;
    bottom:2px;
    margin-right:5px;
}
