@import '~antd/dist/antd.css';

@import './assets/css/ant.scss';
@import './assets/css/qr.scss';
@import './assets/css/html.scss';

.App {
  text-align: center;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}

